doctype html
html
	head
		title Buck the Fadgers
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='theme-color', content='#ffffff')
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		block styles
	body
		block content
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
	block scripts